h1 {
    color: red;
    text-align: center;
    font-family: "Dancing Script", "Shadows into light", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 64px;
    padding-bottom: 5%;
    padding-top: 2%;
}

body {
    background-image: url(images/tile.jpg);
}

header {
    grid-row: 1;
    grid-column: 1 / span 4;
    display: grid;
    /* flex-direction: column; */
    gap: 30px;
    align-items: center;
    justify-content: center;

}

#task-info::placeholder {
    color: black;
    font-weight: bold;
    font-size: 16px;
}

#task-form {
    align-items: center;
    padding-bottom: 3%;
    margin: auto;
    width: fit-content;
}

#task-info {
    background-image: url(images/formbg.jpg);
    text-align: left;
    padding: 2%;
}

#tasks-container {
    color: seagreen;
    text-shadow: 1px 1px 2px black;

    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    padding-left: 30px;
    padding-right: 30px;

    /* justify-content: space-around; */
    /* justify-content: center; */
    /* border: 1px dashed red; */

}

.task-container {
    background-image: url(images/notebg.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    height: 450px;
    width: 300px;
    max-height: 400px;

    display: grid;
    /* grid-template-columns: 8fr; */
    grid-template-rows: 1fr 13fr 1fr;
    /* border: 2px solid black; */
    /* /* overflow-y: auto; */
    margin-top: 40px;
    padding-top: 15px;
    position: relative;
}


.task-container p {
    /*     
    display: grid;
    grid-template-columns: 8fr 1fr;
    grid-template-rows: 12fr 1fr 1fr;
    border: 2px solid black; */

    /* overflow: hidden; */
    overflow-y: auto;
    max-height: 90%;
    padding-right: 20px;
    padding-left: 20px;
    /* padding-bottom: 25px; */
    /* padding-top: 50px; */
}
.task-container #buttonX{
    display: none;
}
.task-container:hover #buttonX{
    display: inline-block;
}
#buttonX {
    
    position: absolute;
    /* z-index: 10; */
    top: 35px;
    right: 20px;
    /* background: black;
    color: white; */
    /* border: none; */

}